<h1> about page </h1>

<h2> How it works </h2>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium nisi in iure perferendis, modi consequuntur aliquam alias ea ipsum debitis cupiditate maxime enim at suscipit labore consequatur, eum quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aut tenetur voluptas, ut, tempore perferendis enim harum praesentium itaque labore doloremque veniam vero dicta. Saepe dolorem nisi accusantium! Quis, provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aliquid asperiores perferendis, dolore mollitia, repellendus nulla et libero nostrum at ab ad ea modi unde ducimus alias obcaecati, reprehenderit minima?</p>

<h2> Star Rating </h2>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque accusamus, perferendis magnam beatae. Magnam, aliquid voluptate adipisci aperiam ut! Velit alias earum consequuntur recusandae ex molestiae nulla et omnis, corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas magni consequatur cumque rerum ratione omnis, ex deleniti voluptatum quas quasi minima pariatur molestiae facilis nobis asperiores labore quisquam alias! Quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet rem dolorum unde incidunt delectus minus nam dolorem inventore, voluptatibus numquam corporis dolore commodi, animi culpa enim laborum. Repudiandae, labore. </p>



<button class="back-button"> <%= link_to 'Back', root_path  %></button>
<button class="sign-in"><%= link_to "Register", new_user_registration_path %></button>