<div class="main-container">
  <div class="search-page">
    <h1> SEARCH PAGE </h1>
    <input placeholder="search"></input> 
    <button class="btn btn-small submit"> <%= link_to 'Back', root_path  %></button>
  </div>
</div>