/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {

font-family: helvetica; 
/*background-color: #d3d3d3; */

 }
/*
 body {
  display:none; 
  background-color: black;
  
 }
*/
h1 {

  text-align: center;

}

h2 {

  text-align: center;

}

button {

  text-align: center

}

p {

  text-align: center;

}

div {

  text-align: center;

}

.bid-select {
  list-style: none;
  text-align: center;

}

 .registration-form {

  text-align: center;


/*  background-color: #242424; */
}

.idv-bid {

list-style: none;
text-align: center;

}

.login {

  text-align: center;

}

.logout {

  text-align: center;

}

.about-button {

  text-align: center;
  color: black; 

}

.search-button {

  text-align: center;

}
/*h1 {
  color: white; 
  float: left; 
}

.main-buttons {

width: 800px; 
height: 400px; 
float: center;
background-color: red;  
margin-left: 20%; 

}

.space-hire {
width: 200px;
height: 50px;
background-color: #242424;
font-size: 18px;
font-color: gray;
border-style: solid: white;
border-width: 5px;
text-decoration: none;


} 

.hire-space {
  width: 200px;
  height: 50px;
  background-color: black;
  font-size: 18px;
  font-color: gray;
  border-style: solid: white;
  border-width: 5px;

}*/
 .bid-form { 
  display:none; 
  width: 500px; 
  height: 500px 
}

.search-box {
  display:none; 
  width: 500px; 
  height: 500px 

}