/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*navbar*/

/*main page*/



 * {

font-family: 'Noto Sans', sans-serif;
font-color: white;
color: black; 

 }

body {

background-image: url(production-lighting.jpg);
background-size: 100% 100%;
display: none; 

}

.main-title a {  
 margin-left: 10px; 
 float: left; 
 font-size: 22px; 
 color: #cecece; 
}


footer {

width: 100%; 
height: 10px; 
background-color: black; 


}
/*forms*/

.field {
  text-align: center; 
  font-size: 12px;
  color: black;  
}

.registration-form {

width: 300px;
height: 600px;
border: 3px solid black;

}

.new-session {

width: 300px;
height: 300px;
border: 3px solid black;

}


/*main page */

nav { 
height: 250px; 
/*background-color: #212121; */
}


.sign-in-button  {
  width: 40px; 

}


.register-button {
  width: 40px; 
  
}

footer {

width: 100%; 
height: 300px; 
/*background-color: #212121; */
float: bottom; 
position: fixed; 

}

/*advert index page */

.ad-preview-box {
  width: 600px;
  height: 300px;
  border: 5px solid white;
  float: center; 
  margin: 20px; 

}

a {
text-decoration: none; 

}

h1 {
text-align: center;
color: white;
}

h2 {
 text-align: center;

}

h3 {
 text-align: center;

}

h4 {
 text-align: center;

}

button {
 text-align: center
}

p {

  text-align: center;

}

div {

  text-align: center;

}

ul {
 list-style: none; 
}

.about-buttons {
}
/*/// homepage styling ///*/

.main-title {

  padding-top: 20px;
  z-index: 999; 
  font-weight: lighter; 
  font-size: 32px; 
  margin-top: 0px; 
}

.hire-space {
  width: 250px;
  height: 80px;
  border: 5px solid white;
  /*background-color: white; */
  font-size: 20px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  background: transparent;
} 

.space-hire {
   width: 250px;
   height: 80px;
   border: 5px solid white;
   /*background-color: white; */
   font-size: 20px; 
   padding: 10px;
   margin: 10px; 
   text-decoration: none;
   color: white; 
   background: transparent;
}


.about-button {
  width: 100px;
  height: 40px;
  border: 1.5px solid white;
  background-color: white; 
  font-size: 16px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  display: inline-block;
  list-style: none;
  background: transparent; 

}

.search-button {
  width: 100px;
  height: 40px;
  border: 1.5px solid black;
  background-color: white; 
  font-size: 16px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  display: inline-block;
  list-style: none; 
  background: transparent;
}

.sign-in-button {
  width: 100px;
  height: 40px;
  border: 1.5px solid black;
  background-color: white; 
  font-size: 16px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  display: inline-block;
  list-style: none; 
  background: transparent;
}

.register-button {
  width: 100px;
  height: 40px;
  border: 1.5px solid black;
  background-color: white; 
  font-size: 16px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  display: inline-block;
  list-style: none; 
  background: transparent;
}

/*////Dashborad styling////*/

.standard-button {
  width: 100px;
  height: 40px;
  border: 1.5px solid black;
  background-color: white; 
  font-size: 12px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  display: inline-block;
  list-style: none; 
  background: transparent;
}



.advert-info {
  width: 100px;
  height: 40px;
  border: 1.5px solid black;
  background-color: white; 
  font-size: 12px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  color: white; 
  display: inline-block;
  list-style: none; 
  float: center; 
  margin-left: 50px; 


}

.ad-preview-box {
 width: 300px; 
 height: 300px; 
 border: 1.5px solid black;

}

/*.ad-box {

width: 300px; 
height: 300px; 
border: 1.5px solid black;
float: center; 
margin: 30px; 

}

.user-box {
  width: 300px; 
  height: 300px; 
  border: 1.5px solid black;
  text-align: center;
  margin-left: 50px; 
  margin-bottom: 10px;  

}*/

/*.offers-box {
  width: 300px; 
  height: 300px; 
  border: 1.5px solid black;
  text-align: center; 
  float: right;
  margin-right: 50px;  

}

.adverts-box {
  width: 300px; 
  height: 300px; 
  border: 1.5px solid black;
  text-align: center; 
  margin-left: 350px;  

}

.bids-box {
  width: 300px; 
  height: 300px; 
  border: 1.5px solid black;
  text-align: center; 

}*/

.bid-box {

width: 300px;
height: 120px;
background-color: #E5E4E2; 
list-style: none; 
border: 1.5px solid black;
margin: 10px; 
/*box-shadow: -3px 3px 0px 0px rgba(193, 27, 23);*/
display: inline-table; 
font-family: helvetica; 
}

.dashboard-title {
 width: 300px;
 height: 50px;
 background-color: #E5E4E2; 
 list-style: none; 
 border: 1.5px solid black;
 margin: 10px; 
/* box-shadow solid-shadow: -3px 3px 0px 0px rgba(193, 27, 23);*/
float: center;
display: inline-table; 

}

.dashboard-main {

width: 100%; 
height: 100%; 
/*background-color: #E5E4E2; */
padding: 20px; 
margin-top: -10px; 
}

.dash-button {
  width: 100px;
  height: 40px;
  border: 1.5px solid black;
  background-color: #E5E4E2; 
  font-size: 12px; 
  padding: 10px;
  margin: 10px; 
  text-decoration: none;
  display: inline-block;
  list-style: none; 
  color: black; 
}
/*///////*/


.bid-select {
  list-style: none;
  text-align: center;

}

 .registration-form {
   text-align: center;
/*  background-color: #242424; */
}

.idv-bid {

list-style: none;
text-align: center;

}

/*.login {

  text-align: center;

}*/

.logout {

  text-align: center;

}

.about-button {

  text-align: center;
  color: black; 

}

.search-button {

  text-align: center;

}

.menu-options {

list-style: none; 


}


/*h1 {
  color: white; 
  float: left; 
}

.main-buttons {

width: 800px; 
height: 400px; 
float: center;
background-color: red;  
margin-left: 20%; 

}

.space-hire {
width: 200px;
height: 50px;
background-color: #242424;
font-size: 18px;
font-color: gray;
border-style: solid: white;
border-width: 5px;
text-decoration: none;


} 

.hire-space {
  width: 200px;
  height: 50px;
  background-color: black;
  font-size: 18px;
  font-color: gray;
  border-style: solid: white;
  border-width: 5px;

}*/
 .bid-form { 
  display:none; 
  width: 500px; 
  height: 500px 
}

.search-box {
  display:none; 
  width: 500px; 
  height: 500px 

}

.ad-box {

  width: 500px;
  height: 500px;
  background-color: #E5E4E2; 
  list-style: none; 
  border: 1.5px solid black;
  margin: 10px; 
  /*box-shadow: -3px 3px 0px 0px rgba(193, 27, 23);*/
/*  display: inline-table; */
  font-family: helvetica; 



}
/*modal sing in */

/*advert modal */

